* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon';
    background-color: #e6e39c;
    padding: 3em 0 3em 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Lobster';
}

ul, a, p, pre {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {    
    margin: 0 auto;
    width: 80%;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5%;
    margin-top: 1em;
}

.bayan {
    font-family: 'Lobster';
    color: #ab7903;
    font-size: 3em;
}

.toggleableContent {
    max-height: 0;
    overflow: hidden;
    transition: .8s;
  }
  
.toggleableControl:checked ~ .toggleableContent {
    transition-timing-function: ease-in-out;
    max-height: 800px;
}

.hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.toggleable {
    padding: 1em 0 1em 0;
    border-bottom: 0.1em solid rgb(144, 168, 38);
    color: #66712f;
  }

.toggleableLabel {
    display: flex;
    justify-content: space-between;
}

.toggleableLabel::after {
    content: "▼";
    font-size: 0.8rem;
    transition: .8s;
}
  
.toggleableControl:checked ~ .toggleableLabel::after {
    transform: rotate(180deg);
}